.icon {
  color: var(--gray) !important;
}

.icon:active,
.icon:hover,
.icon:focus-within {
  outline: none;
  color: var(--fg) !important;
}

.nav {
  z-index: 10;
  margin: var(--small-gap) auto var(--gap) auto;
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  backdrop-filter: saturate(180%) blur(20px);
}

.fakeNav {
  margin: var(--small-gap) auto var(--gap) auto;
}

.header {
  height: var(--header-height);
  margin: 0 auto;
  padding: 0 var(--gap);
  max-width: var(--main-content);
  display: flex;
  align-items: center;
}

.content {
  overflow: auto;
  color: var(--gray-alpha);
  font-weight: 500;
  margin-left: var(--gap-double);
}

@media (max-width: 960px) {
  .fakeNav {
    margin: 0;
  }

  .nav {
    margin: var(--gap-double) 0;
  }
}
