.transition {
  color: var(--link);
  text-decoration: none;
  transition: box-shadow 80ms cubic-bezier(.01,.88,.93,.07) 0s;
  will-change: box-shadow;
}

.transition:hover {
  box-shadow: 0px 2px 0px var(--link);
}

