.list {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  color: var(--gray);
  
  a {
    color: var(--gray);
    font-size: 1rem;
    letter-spacing: -0.02em;
    text-decoration: none;

    &:hover {
      color: var(--fg);
    }
  }
}
