.layout-outline {
  border: 1px solid var(--border-color);
  position: relative;
}

.layout-outline .page {
  --border-color: green;
}

.layout-outline .layout {
  --border-color: blue;
}

.label-container {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  background: var(--bg);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
