.item {
  list-style-type: none;
}

.link {
  display: block;
  text-decoration: none !important;
  color: var(--fg) !important;
  outline: none;
  padding-top: var(--gap);
  padding-bottom: var(--gap-double);
  padding-left: var(--gap);
  padding-right: var(--gap);
  transition: all 0.1s cubic-bezier(0.01, 0.88, 0.93, 0.07);
  border-radius: var(--radius);
  will-change: transform, opacity;
  cursor: pointer;
}

.item:focus,
.link:active,
.link:focus,
.link:hover {
  background: var(--lightest-gray);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .date,
.wrapper .views,
.type {
  font-size: 1rem;
  color: var(--gray);
}

.date + div,
.type + div {
  flex: 1;
}

.link:hover .title,
.link:focus .title,
.link:hover .icon,
.link:focus .icon {
  color: var(--fg);
}

.title,
.description {
  word-break: break-word;
  margin: 0;
  line-height: 1.5;
}

.title {
  font-size: 1.15rem;
  font-weight: bold;
  transition: color var(--transition);
}

.description {
  color: var(--gray);
  margin-top: var(--gap-quarter);
}

@media (max-width: 600px) {
  .title,
  .description {
    -webkit-line-clamp: 2;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  padding: var(--gap);
  border-radius: var(--radius);
  background: var(--lightest-gray);
  margin-bottom: var(--gap);
  height: 150px;
}

.thirdParty {
 color: var(--gray);
 font-size: 0.9rem;
}

.thirdParty:after {
  content: '↗';
  margin-left: 0.25rem;
  font-size: 0.7rem;
  /* position up a little */
  position: relative;
  top: -0.03rem;
}
