.wrapper {
  margin: var(--gap-double) 0;
}

.starBadge:hover {
  background: var(--light-gray);
  transition: background 0.2s ease-in;
}

.split {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-half);
  row-gap: 0;
  flex-wrap: wrap;
  margin-bottom: var(--gap-half);
}


.badges {
  display: flex;
  flex-direction: row;
  gap: var(--gap-half);
}

.title {
  margin: var(--gap-quarter) 0;
}
