.note {
  position: relative;
}

.note .icon {
  --info-stroke-circle-color: var(--light-gray);
  --info-stroke-color: var(--fg);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  background: var(--bg);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.note .content {
  padding-left: var(--gap);
}
