.icon {
    user-select: none;
    display: inline-flex;
    border-radius: var(--radius);
    padding: var(--gap);
    color: var(--fg);
    will-change: transform;
    transition: all 0.1s cubic-bezier(.01,.88,.93,.07);
    line-height: 50%;
}

.icon:active,
.icon:hover,
.icon:focus-within {
    outline: none;
    color: var(--fg);
    transition: all 200ms !important;
    background: var(--lightest-gray);
    /* transform: translateY(-5px); */
}

.socials {
    display: inline-flex;
    align-items: center;
}

@media (prefers-reduced-motion: reduce) {
    .icon,
    .icon:hover {
      transition: none;
    }
  }
