.icon {
    display: inline-flex;
    padding: 15px;
    margin: -10px;
    margin-right: 5px;
    border-radius: var(--radius);
    color: var(--fg);
    will-change: transform;
    transition: transform 450ms !important;
    transition-delay: 100ms;

}

.icon:hover,
.icon:focus-within {
    outline: none;
    color: var(--link);
    transition: transform 200ms !important;
    transform: translateY(-5px);
}

.socials {
    display: inline-flex;
    align-items: center;
}

@media (prefers-reduced-motion: reduce) {
    .icon,
    .icon:hover {
      transition: none;
    }
  }
