.wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  padding-bottom: var(--small-gap);
  overflow-x: hidden;
}

.main {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 0 var(--gap);
}

.fade {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, transparent, hsl(240, 22%, 7%));
  pointer-events: none;
}

[data-theme="light"] .fade {
  background: linear-gradient(to bottom, transparent, hsl(240, 8%, 66%));
}

@media (max-width: 960px) {
  .fade {
    display: none;
  }
}

