.tooltip {
    position: relative;
}

.tooltip::after {
    display: block;
    background-color: var(--lighter-gray);
    border-radius: var(--radius);
    color: var(--fg);
    padding: var(--gap-half) var(--gap);
    position: absolute;
    z-index: 999;
    opacity: 0;
    pointer-events: none;

    content: attr(aria-label);
    top: 0;
    left: 50%;
    transition: all 0.07s cubic-bezier(.01,.88,.93,.07);
    transform: translate(-50%, calc(-100% - 10px));
}

.tooltip:hover::after {
    opacity: 1;
    pointer-events: all;
}
