.button {
  background: none;
  border: none;
  padding: 0;

  color: var(--gray-alpha);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  color: var(--gray);
  transform: translateY(-2px);
}