.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    section {
        margin-bottom: var(--gap);
    }

    ul {
        padding: 0;
    }

    h2 {
        margin: 0;
    }
}
