.item {
  list-style-type: none;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--fg);
  outline: none;
  padding-top: var(--gap);
  padding-bottom: var(--gap-double);
  padding-left: var(--gap);
  padding-right: var(--gap);
  transition: all 0.1s cubic-bezier(.01,.88,.93,.07);
  border-radius: var(--radius);
  will-change: transform, opacity;
  cursor: pointer;
}

.item:focus,
.link:active,
.link:focus,
.link:hover {
  background: var(--lightest-gray);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .date,
.wrapper .views,
.type {
  font-size: .95rem;
  flex-basis: 5rem;
  white-space: nowrap;
  margin-right: var(--gap);
  color: var(--gray);
}

.date + div,
.type + div {
  flex: 1;
}

.link:hover .title,
.link:focus .title,
.link:hover .icon,
.link:focus .icon {
  color: var(--fg);
}

.title,
.description {
  word-break: break-word;
  margin: 0;
  line-height: 1.5;
}

.title {  
  font-size: 1.15rem;
  font-weight: bold;
  transition: color var(--transition);
}

.description {
  color: var(--gray);
  margin-top: var(--gap-half);
}

@media (max-width: 600px) {
  .title,
  .description {
    -webkit-line-clamp: 2;
  }
}
