.wrapper {
  margin: var(--gap-double) 0;
}

.stars {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}

.stars svg {
  margin-left: 4px;
}

.wrapper i {
  color: var(--gray-alpha);
}

.badge {
  margin-left: var(--gap-half);
}