.gameOfLife {
    z-index: 0;
    pointer-events: none;
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
    /* I'd rather do this in the shader but safari doesnt seem to suport setting the alpha there */
    opacity: 0.6;
}

.controlsOverlay {
    position: absolute;
    top: 0;
    padding: var(--gap);
    width: 180px;
    min-height: 300;
    z-index: 999;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* // nice gradient background */
    background-color: var(--bg);
    opacity: .8;
}

.controlsOverlay a {
    color: var(--link);
}

.badge {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    padding: var(--gap-quarter);
}

@media screen and (max-width: 1000px) {
    .controlsOverlay {
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        flex-direction: row;
        height: 60px;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(100px);
        
    }

    .controlsOverlay button {
        width: 80px;
        justify-content: center;
    }
  

    .controlsOverlay {
        display: none;
    }
}