.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous, .next {
  font-weight: 500;
  transition: color var(--transition);
  flex: 0 0 45%;
}

@media (min-width: 768px) {
  .previous {
    text-align: left;
  }
  .next {
    text-align: right;
  }
}


.next {
  text-align: right;
}

.title {
  font-weight: normal;
  margin-bottom: var(--gap-quarter);
}

.previous:hover, .next:hover,
.previous:focus, .next:focus {
  color: var(--fg);
}
