.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-half);
}

.tag a {
  text-decoration: none;
}

.tag a:hover {
  color: var(--link);
}

.selected a:hover {
  color: var(--fg);
}

.selected {
  background-color: var(--link);
}
