.talks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-double);
}

.selects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.sort {
  height: 40px;
  border: none;
  border-radius: var(--inline-radius);
  background: var(--lighter-gray);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 var(--gap-half);
  color: var(--fg);
}

.filterSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--gap);
}

@media (max-width: 768px) {
  .filterSettings {
    flex-direction: column;
  }

  .filterSettings .sort {
    width: 100%;
  }

  .selects {
    flex-direction: column;
    margin-top: var(--gap);
  }
}
