.icon {
  color: var(--gray) !important;
  padding: var(--gap-half) !important;
}

.icon:active,
.icon:hover,
.icon:focus-within {
  outline: none;
  color: var(--fg) !important;
}

.nav {
  margin: var(--small-gap) auto var(--small-gap) auto;
}

.header {
  height: var(--header-height);
  margin: 0 auto;
  /* padding: 0 var(--gap); */
  max-width: var(--main-content);
  display: flex;
  align-items: center;
}

.content {
  overflow: auto;
  color: var(--gray-alpha);
  font-weight: 500;
  margin-left: var(--gap-double);
}

@media (max-width: 960px) {
  .nav {
    margin: var(--gap-double) 0;
  }
}
