body {
  padding-top: 20px;
}

.btn-group.toolbar {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.btn-group.toolbar .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-top: 0 solid white;
  border-bottom: 0 solid white;
}

.btn-group.toolbar .btn:first-child {
  border-radius: 0;
  border-top: 0 solid white;
  border-left: 0 solid white;
  border-bottom: 0 solid white;
}

.btn-group.toolbar .btn:last-child {
  border-radius: 0;
  border-top: 0 solid white;
  border-right: 0 solid white;
  border-bottom: 0 solid white;
}

#debugger pre, #log pre {
  height: 10em;
  overflow: auto;
}

.disassemble-lineno {
  text-align: right;
  padding-right: 0;
}

.disassemble-line {
  padding-left: 5px;
}

.disassemble-current {
  background: #428BCA;
  color: #FFF;
}

.disassemble-breakpoint {
  background: #F36D69;
  color: #FFF;
}

.panel>pre {
  margin: 0;
  border-radius: 0 0 4px 4px;
  border: 0;
}

.panel>.input-group {
  border-radius: 0 0 0 4px;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
}

.panel>.input-group>.input-group-addon {
  border-radius: 0 0 0 4px;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
}
.panel>.input-group>.form-control {
  border-radius: 0 0 4px 0;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
}

.panel.collapsed>*:not(.panel-heading) {
  display: none;
}

.panel-heading {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  cursor: default;
}

#screen {
	position: relative;
	left: 50%;
	margin-left: -192px;
	border: 4px solid #eee;
}
