.homePage {
  width: 100vw;
  margin-left: calc(-1 * var(--gap));
  margin-right: calc(-1 * var(--gap));
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.footer {
  margin-top: var(--small-gap);
  max-width: var(--main-content);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: var(--gray);

  .gitSha {
    &:before {
      content: ' — ';
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0 calc(var(--gap) * 1.5);
  }
}
