@media screen and (max-width: 768px) {
  .secondHeading {
    margin-top: var(--gap-half);
  }
}



.footer {
  margin-top: var(--small-gap);
  display: flex;
  justify-content: space-between;
  color: var(--gray);

  .gitSha {
    /* before, add an mdash */
    &:before {
      content: ' — ';
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}
