.heading {
  display: flex;
  flex-direction: row;
  /* take up and force it to take up 100% of the parent container */
  width: 100%;
  justify-content: space-between;

  h1 {
    margin: 0;
    padding: 0;
  }
}