.container {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.card {
  font-size: 16px;
}

.stars {
  display: inline-flex;
  align-items: center;
}

.stars svg {
  margin-left: 4px;
}
