article {
  max-width: var(--main-content);
  margin: 0 auto;
  line-height: 1.9;
}

article > * + * {
  margin-top: 1em;
}

article p {
  color: var(--article-color);
}

article video,
article img {
  max-width: 100%;
  /* width: var(--main-content); */
  width: auto;
  margin: auto;
  display: block;
  border-radius: var(--radius);
}

/* Lists */

article ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: disc;
}

article ul ul {
  margin-left: var(--gap-double);
  list-style-position: inside;
  list-style-type: circle;
}

article ol {
  padding: 0;
  list-style-position: inside;
}
/* 
article ol li:not(:last-child),
article ul li:not(:last-child) {
  margin-bottom: var(--gap);
} */

article ol > li > ul {
  margin-left: var(--gap-double);
  list-style-position: inside;
  list-style-type: circle;
}

article aside,
article blockquote {
  border: 2px solid var(--light-gray);
  background: var(--lightest-gray);
  padding: var(--gap);
  color: var(--article-color);
}

/* Code Snippets */

.token-line:not(:last-child) {
  min-height: 1.4rem;
}

article *:not(pre) > code {
  font-family: var(--font-mono);
  font-size: 1rem;
}

article *:not(pre) > code::before,
article *:not(pre) > code::after {
  content: '\`';
  color: var(--gray);
  user-select: none;
}

article pre {
  overflow-x: auto;
  background: var(--lightest-gray);
  border-radius: var(--inline-radius);
  line-height: 1.8;
  padding: 1rem;
  font-size: 0.875rem;
}

/* Linkable Headers */

.header-link {
  padding-top: var(--header-height);
  color: inherit;
  text-decoration: none;
}

sup {
  font-size: 0.8em;
  vertical-align: super;
  line-height: 1;
  padding-top: var(--header-height);
}

.header-link::after {
  opacity: 0;
  content: '#';
  margin-left: var(--gap-half);
  color: var(--gray);
}

.header-link:hover::after {
  opacity: 1;
}

@media screen and (max-width: 760px) {
  .header-link::after {
    opacity: .5;
  }
}