.badge {
    display: inline-flex;
    align-items: center;
    font-size: .9rem;
    background-color: var(--lighter-gray);
    border: 1px solid var(--light-gray);
    border-radius: var(--radius);
    color: var(--gray);
    padding: 0 var(--gap-half);
    font-weight: 450;
}
